@font-face {
	font-family: tangyuan;
	src: url('冬天的汤圆.ttf')
}


h1 {
	color:blue;
}

h2 {
	font-size: 14px;
	text-decoration:underline;
	font:italic bold 12px/20px arial,sans-serif;
}

p {
	font-family: tangyuan;
	font-size: 18px;
	text-align:left;
	word-spacing:15px;
	white-space:pre-wrap;
	line-height:1.5;
	text-indent: 20px;
	text-transform: capitalize;
	color:yellow;
	background-color: black;
}

img {
	border:2px solid red;
}

#first_center_div {
	background-color:red;
	width:960px;
	margin-left: auto;
	margin-right: auto;
}

#second_center_div {
	background:red;
	width:960px;
	position:absolute;
	left:(body.clientWidth-960)/2;
	
}
